<section class="launch-email-section scroll-trigger animate--slide-in">
  <div class="launch-container">

    <div class="launch-content">
      <h2 class="launch-title">
        {{ section.settings.heading }}
      </h2>
      <div class="sign-up-klaviyo-form">
      {{ section.settings.klaviyo_form }}
      </div>
    </div>

    <div class="launch-divider"></div>

    <p class="launch-footer">
      © {{ 'now' | date: "%Y" }} {{ section.settings.footer_text }}
    </p>

  </div>
</section>

<style>

.launch-email-section{
  padding:60px 35px;
}

.launch-container{
  max-width:1254px;
  margin:auto;
  background:#EBEBEB;
  border-radius:67px;
  padding:62px 50px 25px;
}

.launch-content{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:30px;
  flex-wrap:wrap;
}

.launch-title {
    font-size: 30px;
    font-weight: 400;
    max-width: 567px;
    color: #3C3C3C;
    margin-bottom:56px;
}

.launch-form{
  display:flex;
  gap:15px;
  align-items:center;
}

.launch-input{
  width:260px;
  height:42px;
  border-radius:25px;
  border:none;
  padding:0 20px;
  background:#cfcfcf;
  outline:none;
}

.launch-button{
  height:42px;
  padding:0 26px;
  border-radius:25px;
  border:none;
  background:#05063c;
  color:white;
  font-weight:600;
  cursor:pointer;
}

.launch-button:hover{
  opacity:.9;
}

.launch-divider {
    height: 1px;
    background: #707070;
    display: block !important;
}

.launch-footer {
    text-align: center;
    font-size: 16px;
    color: #3C3C3C;
    line-height: 40px;
    margin-top: 17px;
}

@media(max-width:768px){

.launch-content{
  flex-direction:column;
  align-items:flex-start;
}

.launch-form{
  width:100%;
}

.launch-input{
  flex:1;
  width:100%;
}

}

</style>

{% schema %}
{
  "name": "Launch Email Signup",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "ENTER EMAIL FOR LAUNCH DAY PRICE & FREE REMOTE UPGRADE"
    },
    {
      "type": "html",
      "id": "klaviyo_form",
      "label": "Klaviyo Form"
    },
    {
      "type": "text",
      "id": "footer_text",
      "label": "Footer Text",
      "default": "VENTY"
    }
  ],
  "presets":[
    {
      "name":"Launch Email Signup"
    }
  ]
}
{% endschema %}