/* venty pro cozypad landing page  */
.ventypro-hero__content .ventypro-hero__text h1 {
    font-size: 80px;
    line-height: 72px;
}
.ventypro-hero__heading span.ventypro-hero-word:nth-child(2) {
    margin-top:-5px
}
.ventypro-hero .ventypro-hero__content {
    max-width: 1292px;
    height: 100%;
    transform: none;
    display: flex;
    width: 100%;
    min-height:740px;
    margin-bottom:82px;
}
.ventypro-hero__content .ventypro-hero__text {
    margin-left: 36px;
    width: 100%;
    align-items: end;
    justify-content:space-between;
    flex-direction:column;
    margin-top: 40px;
    position: relative;
}
.ventypro-hero__content .ventypro-hero__text p {
    color:#484848;
    line-height:21px;
}
.ventypro-hero .ventypro-hero__bg {
    top: 0;
    left: -130px;
} 
.ventypro-hero .ventypro-hero__bg-image {
    height: auto;
    max-width: 700px;
}
.ventypro-hero__content-wrapper {
    height:100%;
}
.ventypro-hero__content .vendypro-form_text {
        -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border-radius: 25px;
    box-shadow: none;
    padding: 15px 20px 20px;
    max-width:330px;
}
section.ventypro-hero {
    height:100%;
}
.ventypro-hero .ventypro-hero__logo {
    position: static;
    transform:none;
    padding-top: 35px;
    padding-bottom:28px;
}
.ventypro-hero .ventypro-hero__logo img {
    max-width:110px;
}
.launch-section .launch-text h2 ,
.launch-section .launch-text h2.heading.-two {
    font-size: 72px;
    line-height: 66px;
}
.launch-section .launch-text p {
    margin-top: 20px;
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
    color:#434343;
}
.launch-section .play-button {
    box-shadow: 0px 4px 95.5px 0px #0000004F;
    background:none;
}
/* .launch-section .play-button::before {
    content:none;
} */
 .launch-section .launch-image img {
    max-height:800px;
 }
.launch-section .play-button img {
    max-width: unset;
    max-height: unset;
    width:100%;
    height:100%;
}
.launch-section .launch-main-container,
.pro-series .pro-series-container {
    max-width:1292px;
    margin:0 auto;
    padding-inline:20px;
}
.pro-series h2.pro-series-title,
.pro-series .pro-series-subtitle{
    font-size: 92px;
    line-height: 100%;
    color:#434343;
}
.pro-series .pro-series-subtitle {
    margin-top:-12px;
}
.pro-series-wrapper .feature-card {
    min-height: 473px;
    position:relative;
}
.pro-series-wrapper .feature-card .feature-content h3 {
    font-weight:300;
    font-size:56px;
    line-height:62px;
    margin:0;
}
.pro-series-wrapper .feature-card .feature-content h3 strong {
    font-weight:700;
}
.pro-series-wrapper .feature-card .feature-image {
    position:absolute;
    right:0;
}
.pro-series-wrapper .feature-card.feature-left .feature-image {
    right:unset;
    left:0;
}
.pro-series-wrapper .feature-card .feature-image img {
    width:auto;
}
.pro-series-wrapper .feature-card.feature-right .feature-content h3 {
    padding-left:82px;
}
.pro-series-wrapper .feature-card.feature-left .feature-content h3 {
    padding-right:82px;
}
.pro-series-wrapper .feature-card.feature-right {
background: linear-gradient(270deg, rgba(235, 235, 235, 0) 0%, rgba(133, 133, 133, 0.29) 147.45%) !important;
flex-direction:row;
}
.pro-series-wrapper .feature-card.feature-left {
    background: linear-gradient(90deg, rgba(235, 235, 235, 0) 0%, rgba(133, 133, 133, 0.29) 147.45%) !important;
    flex-direction:row-reverse;
}
.feature-card.feature-right.image-fan .feature-image {
    margin-right:54px;
}
.pro-series-wrapper .feature-content {
    max-width:unset;
}
.launch-upgrade-banner .banner-wrapper {
    position:relative;
    align-items:start;
    max-width:1292px;
    margin:0 auto;
    padding-top: 115px;
    padding-inline:20px;
    padding-bottom:11.8%;
}
.pro-series .pro-series-wrapper {
    gap:30px;
}
section.launch-upgrade-banner {
    position:relative;
}
.launch-upgrade-banner .banner-image {
    position:absolute;
    right:0;
    top:57px;
}
.launch-upgrade-banner .banner-wrapper .banner-heading {
    font-size: 82px;
    line-height: 86px;
}
.launch-upgrade-banner .banner-wrapper .banner-subheading {
    font-size: 56px;
    line-height: 46px;
    margin-bottom: 25px;
}
.launch-upgrade-banner .banner-wrapper .banner-text p {
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
    margin-bottom:30px;
} 
.launch-upgrade-banner .banner-wrapper .banner-text p::last-child {
    margin-bottom:0;
}
.launch-upgrade-banner .banner-wrapper .banner-text p strong {
    font-weight: 700;
}
.launch-upgrade-banner .banner-wrapper .banner-text {
    max-width:542px;
}
@media only screen and (max-width:1366px) {
    .ventypro-hero__heading span.ventypro-hero-word:nth-child(2) {
        margin:0;
    }
.ventypro-hero .ventypro-hero__bg-image {
    max-width: 600px;
}
.ventypro-hero .ventypro-hero__bg {
    left: -90px;
}

.ventypro-hero__content .ventypro-hero__text h1 {
            font-size: 60px;
        line-height: 52px;
    margin-bottom: 23px;
    gap:0;
}

}
@media only screen and (max-width:1280px) {
    .launch-section .launch-wrapper {
    border-radius:25px;
}
.launch-section .play-button {
    width: 134px;
    height: 133px;
}
    .ventypro-hero .ventypro-hero__bg-image {
        max-width:500px;
    }
.ventypro-hero .ventypro-hero__bg {
    position: static;
    order: 2;
}

.ventypro-hero__content .vendypro-form_text {
    order: 3;
    margin-top:0;
}

.ventypro-hero__content .ventypro-hero__text {
    align-items: center;
    margin:0;
}

.ventypro-hero__content .ventypro-hero_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom:41px;
}
.ventypro-hero .ventypro-hero__content {
    padding-block:0;
    margin-bottom:61px;
}
.ventypro-hero  .ventypro-hero__logo img {
    padding:0;
}
.ventypro-hero__content .ventypro-hero_wrapper p {
    line-height: 22px;
    font-size: 18px;
    text-transform: none;
    font-weight: 500;
    letter-spacing: 0.1em;
}
.ventypro-hero__content .vendypro-form_text p {
    text-transform: none;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    max-width:100%;
}
.ventypro-hero__content .vendypro-form_text {
    margin-top:30px;
    max-width:90%;
}
.shopify-section .launch-section {
    padding: 0 !important;
}
}
@media only screen and (max-width:767px) {
    .launch-section .launch-wrapper .launch-text {
    padding-inline: 20px;
}
.launch-section .launch-wrapper .launch-text {
    margin-top:29px !important;
}

.launch-section .launch-text h2, .launch-section .launch-text h2.heading.-two {
    line-height: 41px !important;
}
    .ventypro-hero__content .vendypro-form_text {
    max-width:100%;
}

}
/* venty pro cozypad landing page  */