/* venty pro cozypad landing page  */
.ventypro-hero__content .ventypro-hero__text h1 {
    font-size: 80px;
    line-height: 72px;
}
.ventypro-hero__heading span.ventypro-hero-word:nth-child(2) {
    margin-top:-5px
}
.ventypro-hero .ventypro-hero__content {
    max-width: 1292px;
    height: 100%;
    transform: none;
    display: flex;
    width: 100%;
    min-height:740px;
    margin-bottom:82px;
}
.ventypro-hero__content .ventypro-hero__text {
    margin-left: 36px;
    width: 100%;
    align-items: end;
    justify-content:space-between;
    flex-direction:column;
    margin-top: 40px;
    position: relative;
}
.ventypro-hero__content .ventypro-hero__text p {
    color:#484848;
    line-height:21px;
}
.ventypro-hero .ventypro-hero__bg {
    top: 0;
    left: -80px;
} 
.ventypro-hero .ventypro-hero__bg-image {
    height: auto;
    max-width: 700px;
}
.ventypro-hero__content-wrapper {
    height:100%;
}
.ventypro-hero__content .vendypro-form_text {
        -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border-radius: 25px;
    box-shadow: none;
    padding: 15px 20px 20px;
    max-width:290px;
}
section.ventypro-hero {
    height:100%;
}
.ventypro-hero .ventypro-hero__logo {
    position: relative;
}
.launch-section .launch-text h2 {
    font-size: 72px;
    line-height: 66px;
}
.launch-section .launch-text p {
    margin-top: 2px;
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
}
/* venty pro cozypad landing page  */