@media (max-width: 1440px) {
.launch-upgrade-banner .banner-image {
        max-width: 330px;
}
.launch-upgrade-banner .banner-image img {
    max-width: 100% !important;
}
}

@media (max-width: 989px) {
    .launch-upgrade-banner .banner-image {
        position: relative;
            max-width: 100%;
            top:0;
    }
    .launch-upgrade-banner .banner-wrapper .banner-text {
        max-width: 100%;
    }
    
}